:host {
  display: inline-block;
}

.title {
  border-top: 1px solid #CFD6D7;
  display:block;
  overflow:hidden;
  font-size:14px;
  text-align:center;
  padding: 5px 3px 0.3em;
  height: 27px;
  line-height: 1.1;
  position:relative;
  @apply(--grid-item-title);
}

.title:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 1.1em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 50%);
}

.artifact {
  width: 170px;
  height: 170px;
}

fs-card {
  --fs-card-body: {
    padding: 0;
    width: 170px;
  }
  @apply(--grid-item-card-styles);
}