<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../fs-styles/fs-styles.html">

<!-- @demo demo/index.html -->

<dom-module id='fs-card'>
  <link rel="import" type="css" href="styles.css">
  <style include='fs-styles'></style>
  <template>
    <h4 class='title' hidden='{{!title}}'>{{title}}</h4>
    <div class='body'>
      <content></content>
    </div>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'fs-card',
    properties: {
      /**
       * An optional title to be rendered at the top of 
       * the &lt;fs-card&gt;.
       * @type {Object}
       */
      title: {
        type: String,
        value: null
      }
    }
  });
})();
</script>