@font-face {
  font-family: 'ProximaNova';
  src: url("https://edge.fscdn.org/assets/img/fonts/proximanova-reg-webfont-cfeb75f8129a554d73242c7c98954d3b.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("https://edge.fscdn.org/assets/img/fonts/proximanova-bold-webfont-c487c4a5cafd39382ef57b52ef5a53f9.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'museo';
  src: url("https://edge.fscdn.org/assets/img/fonts/museo_slab_500-webfont-7f1d1cd9f496a600a7cbe688a7e854b5.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}